.git/
log/*
!log/.keep
node_modules
public/vite/*
public/vite-test/*
storage/*
!storage/.keep
tmp/*
!tmp/.keep

.bundle
.byebug_history
.dockerignore
.env*
!.env.example
!.env.test
config/master.key
yarn-error.log
yarn-debug.log*
.yarn-integrity
