@import './css_reset';
@import './variables';
@import './general';
@import './main_menu.scss';

body {
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: $--color-app-background;
  color: $--color-text-primary;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
