<!DOCTYPE html>
<html>

<head>
  <title>BaseApp | Website</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_typescript_tag 'website' %>
</head>

<body id="app">
</body>

</html>